
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.47.0/mapbox-gl.css' rel='stylesheet' />

<main id="new-point-form">
  <nav>
     <div class="username">
       <span>Add a New Point</span><br>
       <div class="flash-message"></div>
     </div>
  </nav>

  <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js'></script>
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css' type='text/css' />

  <div id='map'></div>

  <div class="point-form-container">
    <form action="#" class="form-group">
      <input type="text" name="clue" placeholder="Clue" maxlength="100" required><br>
      <input type="text" name="message" placeholder="Message" maxlength="100" required><br>
      <textarea name="address" wrap='soft' rows="10" cols="30" placeholder="Address (Search Above)" class="address-field" disabled>Use Search Bar</textarea>
      <input type="hidden" id="coordinates" name="coordinates" value="">
      <div class="form-buttons">
        <input type="submit" class="add-point-button" value="Add Point">
        <button type="button" name="done-button" class="done-button">Done Adding Points</button>
      </div>
    </form>
  </div>

  <footer id="map-footer">
    <%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path, class: 'footer-button home', title: 'Home' %>
    <%= link_to '<i class="fas fa-sign-out-alt"></i>'.html_safe, logout_path, method: :delete, class: 'footer-button sign-out', title: 'Sign out' %>
  </footer>
</main>

<%= javascript_include_tag 'map_setup.js' %>
