<main id="scavenger-hunt-map">
  <nav>
     <div class="username">
       <%= "#{@scavenger_hunt.name}" %>
     </div>
  </nav>

  <div class="map">
    <%= react_component('NewScavengerHuntContainer', props: {user_id: current_user.id}, prerender: false) %>
  </div>

  <footer>
    <%= link_to '<i class="fas fa-home"></i>'.html_safe, root_path, class: 'footer-button home', title: 'Home' %>
  </footer>
</main>
