.submit-button, .form-button {
  background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
  background-color:#768d87;
  border-radius:10px;
  border:1px solid #566963;
  cursor:pointer;
  color:#ffffff;
  text-align: center;
  font-weight: bold;
}

.submit-button:hover, .form-button:hover  {
  background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
  background-color:#6c7c7c;
  text-decoration: none;
  color: #ffffff;
}

.submit-button:active, .form-button:active {
  position:relative;
  color:#ffffff;
  text-decoration: none;
  top: 1px;
}
