#index {
  display: grid;
  grid-template: 100px 150px 1fr 1fr 1fr 1fr 1fr 10px 100px/  1fr 1fr 1fr 1fr 1fr 1fr;

  nav {
    grid-area: 1 / 1 / 2 / 7;

    .username {
      grid-area: 1 / 2 / 1 / 5;
    }
  }

  .cards-container {
    grid-area:  2 / 2 / 9 / 6;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .scavenger-hunt-card {
      display: grid;
      grid-template: 125px /  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      padding-top: 2.5%;
      margin: 10px 0 10px 0;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
      list-style: none;
      background-color: lightgrey;

      a {
        grid-area: 1 / 1 / 1 / 9;
        text-decoration: none;
        color: black;

        .card-left {
          .card-title {
            font-size: 1.75em;
          }
        }
      }

      .edit-btn {
        grid-area: 1 / 8 / 1 / 8;
        padding-top: 20%;
        font-size: 2em;
        color: yellow;
      }

      .delete-btn {
        grid-area: 1 / 9 / 1 / 9;
        padding-top: 20%;
        font-size: 2em;
        color: red;
      }
    }
  }

  footer {
    grid-area: 9 / 1 / 9 / 7;
  }
}
