#index {
  display: grid;
  grid-template: 100px 150px 1fr 1fr 1fr 1fr 1fr 10px 100px /  1fr 1fr 1fr 1fr 1fr 1fr;

  nav {
    grid-area: 1 / 1 / 2 / 7;

    .username {
      grid-area: 1 / 2 / 1 / 5;
    }
  }

  .cards-container {
    grid-area:  2 / 2 / 9 / 6;
    display: flex;
    flex-direction: column;
    overflow: auto;

    .scavenger-hunt-card {
      display: grid;
      grid-template: 125px /  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      padding: 20px 20px 15px 20px;
      margin: 10px 0 10px 0;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
      list-style: none;
      background-color: lightgrey;
      min-height: 375px;

      a {
        grid-area: 1 / 1 / 1 / 9;
        text-decoration: none;
        color: black;

        .card-left {

          .card-title {
            font-size: 1.75em;
            font-weight: 500;
          }
          li {
            font-size: 1.4em;
          }
        }
      }

      .edit-btn {
        grid-area: 1 / 8 / 1 / 8;
        // padding: 10px 0 0 0;
        font-size: 2em;
        color: #537D8D;
      }

      .delete-btn {
        grid-area: 1 / 9 / 1 / 9;
        // padding: 10px 0 0 0;
        font-size: 2em;
        color: #537D8D;
      }
    }
  }

  footer {
    grid-area: 9 / 1 / 9 / 7;
  }
}
