main {
  width: 100vw;
  height: 100vh;
}

#home {
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr /  1fr 1fr 1fr 1fr 1fr 1fr;
  background-image: image-url('background.jpg');
  background-repeat: no-repeat;
}

#form {
  grid-area: 3 / 2 / 6 / 6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .form-group {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    input {
      width: 100%;
      height: 50px;
      margin: 0 0 0px;
      border-radius: 10px;
      text-align: center;
    }

    input#password {
      margin: 2px 0 10px 0;
    }
  }

  .form-buttons {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    width: 100%;
    text-align: center;

    .sign-in, .create-account {
      grid-area: 1 / 1 / 1 / 4;
    	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    	background-color:#768d87;
    	border-radius:10px;
    	border:1px solid #566963;
    	cursor:pointer;
    	color:#ffffff;
    	font-size:15px;
    	font-weight: bold;
      margin: 0 0 5px 0;
    }

    .sign-in:hover, .create-account:hover  {
    	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    	background-color:#6c7c7c;
      text-decoration: none;
    }

    .sign-in:active, .create-account:active {
    	position:relative;
    	top: 1px;
    }

    .create-account{
      grid-area: 2 / 1 / 2 / 4;
      padding: 12px 0 0 0;
    }
  }
}
